/* import font */
@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: 500 800; /* range from 500 to 800*/
}

/* custom variables*/
:root{
    /* primary colors*/
    --yellow-color: #F4D04E;
    --black-color: #111;
    --grey-color: #686b6b;
    --white-color: #fff;

    /*Font families*/
    --ff-figtree-bold: "Figtree", sans-serif;

    /*Text Preset 1*/
    --fs-preset-1: 24px;
    --lh-preset-1: 150%;
    --ls-preset-1: 0px;

    /* Text Preset 2 */
    --fs-preset-2: 16px;
    --lh-preset-2: 150%;
    --ls-preset-2: 0px;

    /* Text Preset 3 (Regular) */
    --fs-preset-3-regular: 14px;
    --lh-preset-3-regular: 150%;
    --ls-preset-3-regular: 0px;

    /* Text Preset 3 (Bold) */
    --fs-preset-3-bold: 14px;
    --lh-preset-3-bold: 150%;
    --ls-preset-3-bold: 0px;

    /* Spacing*/
    --space-200: 16px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;
    
}
/* styling defualt body*/
body{
    background-color: var(--yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#container{
    background-color: var(--white-color);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid var(--black-color);
    border-radius: 15px ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,1), 10px 10px 5px 0px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    margin-top: 20px;
}


#img img{
    max-width: 100%;
    min-width: 0px;
    height: auto;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
}
#category{
    /* centering the text in the yellow category div */ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    border-radius: 5px;
    max-width: 5rem;
    max-height: 1.8125rem;
    padding: 4px 12px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 2rem;
}
#content{
    max-width: 21rem;
}

#category p{
    font-family: "Figtree";
    font-weight: 800;
    font-size: var(--fs-preset-3-bold);
    line-height: var(--lh-preset-3-bold);
    letter-spacing: var(--ls-preset-3-bold);
    color: var(--black-color);
}
#date p{
    font-family: "Figtree";
    font-weight: 500;
    font-size: var(--fs-preset-3-regular);
    line-height: var(--lh-preset-3-regular);
    letter-spacing: var(--ls-preset-3-regular);
    color: var(--black-color);
}
#title p{
    font-family: "Figtree";
    font-weight: 800;
    font-size: var(--fs-preset-1);
    line-height: var(--lh-preset-1);
    letter-spacing: var(--ls-preset-1);
    color: var(--black-color);
}
#title p a{
    text-decoration: none;
    color: inherit;
}
#title p:hover{
    color: var(--yellow-color);
}
#description p {
    font-family: "Figtree";
    font-weight: 500;
    font-size: var(--fs-preset-2);
    line-height: var(--lh-preset-2);
    letter-spacing: var(--ls-preset-2);
    color: var(--grey-color);
}
#tutor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-200);
}
#tutor #name p{
    font-family: "Figtree";
    font-weight: 800;
    font-size: var(--fs-preset-3-bold);
    line-height: var(--lh-preset-3-bold);
    letter-spacing: var(--ls-preset-3-bold);
    color: var(--black-color);
}
#tutor #image-circle img{
    height: auto;
    max-width: 2rem;
}

/*mobile screen width*/
@media(max-width: 375px){
    #container{
        max-width:20rem;
        height: auto;
    }
   
}
/*Desktop screen width*/
@media(max-width: 1440px){
    #container{
        max-width: 24rem;
        height: auto;
    }
}


